:root {
  --color-error: #c24747;
  --color-white: #ffffff;
  --color-no-completed: 194, 71, 71;
  --color-completed: 71, 184, 12;
  --color-edit: 75, 71, 194;
  --color-delete: 194, 71, 71;
  --color-filter: 75, 71, 194;
}